.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.pnpm-store/**
.pnpm-store
.pnpm-store/**
.pnpm-store
.pi/**
.pi
pnpm-lock.yaml
pnpm-workspace.yaml
env/**
.npmrc
.devcontainer/**
.eslintcache
